
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(https://fonts.googleapis.com/css?family=Lobster);


* { margin: 0; padding: 0; -moz-box-sizing: border-box; box-sizing: border-box; }

h1 { font-family: 'Calibri', serif; }

body {
  background: url('tech1.jpeg') no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  width: 66%;
  font-family: 'Open Sans', sans-serif;
}


.container {
  width: 3%;
  min-width: 800px;
  position: absolute;
  top: 20%;
}
.span-6 {
  float: left;
  width: 49%;
  margin-right: 1%;
}

.login {
  background-color: #444444;
  text-align: center;
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  z-index: -1;
}
.login h1 {
  color: #faf5f5;
  font-size: 36px;
  padding: 30px;
  background-color: #444444;
  border-radius: 10px;
  z-index: 50;

}
.login-content, .message {
  padding: 5px 30px 50px 30px;
}
.login-content a {
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
}
label {
  display: block;
  color: #f4f4f4;
  font-size: 18px;
  margin-bottom: 3px;
  opacity: 0;
  z-index: 100;
  
  transition: all .3s ease-in-out;
}
input {
  margin-bottom: 15px;
  padding: 10px 5px;
  width: 80%;
  background-color: #ccc;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #333;
}
input:focus {
  background-color: #f4f4f4;
  border: none;
  outline: none;
}

input[type=submit] {
  color: #fff;
  background-color: #5f1111;
  border: none;
  font-family: 'Calibri', serif;
  font-size: 24px;
  margin-top: 25px;
  width: 60%;
  
  transition: all .5s ease;
}
input[type=submit]:hover {
  background-color: #b94e4e;
  cursor: pointer;
  color: #f4f4f4;
}


img {

  position: absolute;
  top: 32px;
  left: 60px;
  width: 6%;
  height: 8.5%;
  
  
  }

.message span {
  display: block;
  color: #faebefff;
  position: relative; 
  bottom: 30px;
  text-align: center;
}
.line {
  display: inline-block;
  padding: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  transform: rotate(-12deg);
  width: 5px;
}

.span-6 {
  float: left;
  width: 49%;
  margin-right: 1%;
}

.first, .second, .third {
  font-size:8em;

  letter-spacing: -4px;
  font-family: 'Verdana', cursive;
  -webkit-text-shadow: 3px 3px 0 #999;
  -moz-text-shadow: 3px 3px 0 #999;
  text-shadow: 3px 3px 0 #999;
}



.show {
  opacity: 1;
}